body{
	height:100vh;overflow:hidden;padding:0px;margin:0px;box-sizing:border-box;
	min-width:0px;
	--flow-folder-input-trbr:0px;
	--flow-folder-input-brbr:0px;
	--flow-folder-input-tlbr:0px;
	--flow-folder-input-blbr:0px;
	--flow-folder-input-vmr:-2px;
    --flow-caption-logo-bg-color:transparent;
    --flow-font-weight:bold;
    --flow-primary-color: #0382a8;
    --flow-primary-invert-color: #FFF;
    --flow-border-color: #0382a8;
    --flow-border-hover-color:rgb(1, 62, 119);
    --flow-tab-font-size:1.5rem;
    --flow-font-family:sans-serif;
    --flow-background-color: #fff;
    --flow-background-inverse: #000;
    --flow-background-inverse-soft: #333;
    --flow-box-shadow:0 2px 2px 0 rgba(0,0,0,.14),
            0 3px 1px -2px rgba(0,0,0,.2),
            0 1px 5px 0 rgba(0,0,0,.12);

    --flow-btn-success-bg-color:#007E33;
    --flow-btn-success-color:#FFF;
    --flow-btn-hover-success-bg-color:#00C851;
    --flow-btn-hover-success-color:#FFF;
    --flow-btn-danger-bg-color:#CC0000;
    --flow-btn-danger-color:#FFF;
    --flow-btn-hover-danger-bg-color:#ff4444;
    --flow-btn-hover-danger-color:#FFF;
    --flow-btn-warning-bg-color:#FF8800;
    --flow-btn-warning-color:#FFF;
    --flow-btn-hover-warning-bg-color:#ffbb33;
    --flow-btn-hover-warning-color:#FFF;
    --flow-btn-info-bg-color:#0099CC;
    --flow-btn-info-color:#FFF;
    --flow-btn-hover-info-bg-color:#33b5e5;
    --flow-btn-hover-info-color:#FFF;
    --flow-list-item-border:1px solid #ddd;
    --flow-list-item-active-border:1px solid var(--flow-primary-color);
    --flow-list-item-hover-bg:#ddd;
    --flow-list-item-active-bg:var(--flow-primary-color);
    --flow-list-item-active-color:#FFF;

    --flow-link-color:#0382a8;
    --flow-link-hover-color:#015b77;

    --flow-data-field-caption: #000;
    --flow-data-field-caption-shawod: #0382a8;

    --flow-input-color: black;
    --flow-input-bg: white;
    --flow-input-placeholder: #888;

    --flow-scrollbar-track-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
    --flow-scrollbar-track-bg:#F5F5F5;
    --flow-scrollbar-width:10px;
    --flow-scrollbar-bg:#F5F5F5;
    --flow-scrollbar-thumb-box-shadow:inset 0 0 6px rgba(0,0,0,.3);
    --flow-scrollbar-thumb-bg:#888;

    --flow-app-header-bg:var(--flow-background-color);
    --flow-app-header-color:var(--flow-color);

    --flow-terminal-cursor:var(--flow-color);
    --flow-terminal-selection:rgba(0, 0, 0, 0.2);
    /* --flow-input-box-shadow:20px 20px 60px #489dcf, -20px -20px 60px #62d5ff; */
    --flow-markdown-icon: url(resources/icons/svg/link.svg);

    --flow-tooltip-text-bg:#DDD;
    --flow-tooltip-text-color:var(--flow-color);
    --flow-range-slider-thumb-background:var(--flow-primary-color);
    --fa-icon-color:var(--flow-color, #000);

    --flow-code-pre-bg:#f3f3f3;
    --flow-code-pln: #4d4d4c;
    --flow-code-str: #718c00;
    --flow-code-kwd: #8959a8;
    --flow-code-com: #8e908c;
    --flow-code-typ: #4271ae;
    --flow-code-lit: #f5871f;
    --flow-code-pun: #4d4d4c;
    --flow-code-opn: #4d4d4c;
    --flow-code-clo: #4d4d4c;
    --flow-code-tag: #c82829;
    --flow-code-atn: #f5871f;
    --flow-code-atv: #3e999f;
    --flow-code-dec: #f5871f;
    --flow-code-var: #c82829;
    --flow-code-fun: #4271ae;
}

body.flow-theme-dark{
    --flow-markdown-icon: url(resources/icons/svg/link.svg);
    --flow-box-shadow:0 2px 2px 0 rgba(10,10,10,.14),
            0 3px 1px -2px rgba(10,10,10,.2),
            0 1px 5px 0 rgba(10,10,10,.12);
    background-color: #232323;
    --flow-background-inverse: #FFF;
    --flow-background-inverse-soft: #CCC;
    --flow-background-color: #232323;
    color: #b1b1b1;
    --flow-color: #b1b1b1;
    --fa-icon-color:var(--flow-color);
    /*--flow-primary-color: #b1b1b1;*/
    --flow-primary-color:  #0382a8;
    --flow-primary-invert-color: #FFF;
    --flow-border-color: #0382a8;
    --flow-tab-bg-top: #363537;
    --flow-tab-bg-bottom: #363537;
    --flow-tab-active-bg-top: #232323; /* can not have this different color as tab can be as high as multiple rows... */
    --flow-tab-active-bg-bottom: #232323;
    --flow-checkbox-checked-bg:#b1b1b1;
    --flow-list-item-border:1px solid #585858;
    --flow-list-item-active-border:1px solid var(--flow-primary-color);
    --flow-list-item-hover-bg:#585858;
    --flow-list-item-active-bg:var(--flow-primary-color);
    --flow-list-item-active-color:#FFF;

    --flow-data-field-value: #fff;
    --flow-data-field-caption: #ccc;
    --flow-data-field-caption-shadow: #0382a8;

    --flow-input-bg: #2f2f2f;
    --flow-input-color: var(--flow-color, #b1b1b1);
    --flow-input-placeholder: #555;

    --flow-app-header-bg:#191818;

    --flow-input-box-shadow: 0px 1px 4px #50aee4, 0px -1px 4px #5ac4ff;

    --flow-tooltip-text-bg:#423f3f;
    --flow-tooltip-text-color:var(--flow-color);
    --flow-range-slider-thumb-container-bg:var(--flow-input-bg);

    --flow-code-pre-bg: #1d1f21;
    --flow-code-pln: #c5c8c6;
    --flow-code-str: #b5bd68;
    --flow-code-kwd: #b294bb;
    --flow-code-com: #969896;
    --flow-code-typ: #81a2be;
    --flow-code-lit: #de935f;
    --flow-code-pun: #de935f;
    --flow-code-opn: #c5c8c6;
    --flow-code-clo: #c5c8c6;
    --flow-code-tag: #cc6666;
    --flow-code-atn: #de935f;
    --flow-code-atv: #8abeb7;
    --flow-code-dec: #de935f;
    --flow-code-var: #cc6666;
    --flow-code-fun: #81a2be;
}

.hide{display:none;}

flow-checkbox.block{margin:5px 0px;}
flow-dialog{display:block;}
flow-dialog [hide]{display:none}
flow-dialog dialog{
    margin:10% auto;min-width:200px;border-radius:3px;
    background-color:var(--flow-dialog-background-color ,var(--flow-background-color));
    color:var(--flow-dialog-color,var(--flow-color));
    box-shadow:var(--flow-box-shadow);
    border:2px solid var(--flow-border-color, var(--flow-primary-color, rgba(0,151,115,1)));
}
flow-dialog dialog .heading{padding:10px 10px 20px 10px;font-size:1.25rem;}
flow-dialog dialog .body{padding:15px;}
flow-dialog dialog .buttons{
    margin:10px;flex-wrap:wrap;justify-content:flex-end;
}
flow-dialog dialog>.close-btn{
    color:var(--flow-dialog-close-btn-color, var(--flow-color));
    position:absolute;
    right:var(--flow-dialog-close-btn-right, 15px);
    top:var(--flow-dialog-close-btn-top, 15px);
    font-size:var(--flow-dialog-close-btn-font-size, 1.5rem);
    cursor:pointer;
}
flow-dialog[hide-close-btn] dialog>.close-btn,
flow-dialog.hide-close-btn dialog>.close-btn{display:none;}
flow-dialog dialog .buttons:not([hide]){display:flex;}
flow-dialog dialog .buttons flow-btn{margin:0px 5px;align-items:center;display:flex;}
flow-dialog dialog textarea,
flow-dialog dialog input[type="text"],
flow-dialog dialog input:not([type]),
flow-dialog dialog input[type="text"],
flow-dialog dialog input[type="url"]{
    width:100%;margin:10px 0px;padding:5px;
    box-sizing:border-box;
    background-color:var(--flow-input-bg, #FFF);
    color:var(--flow-input-color, var(--flow-color, #000));
    border:2px solid var(--flow-border-color, var(--flow-primary-color, rgba(0,151,115,1)));
}
flow-dialog dialog flow-checkbox{margin:10px 0px;}
flow-dialog dialog textarea{min-height:50px;}
flow-dialog.flow-menu{position:fixed;z-index:10000;width:200px;box-sizing:border-box;}
flow-dialog.flow-menu dialog{margin:0px;}
flow-dialog.flow-menu dialog .body{padding:0px;}
flow-dialog.flow-menu ul.menu{margin:0px;padding:0px;list-style:none}
flow-dialog.flow-menu ul.menu>li{
    padding:10px;border-bottom:var(--flow-list-item-border)
}
flow-dialog.flow-menu ul.menu>li:not([disabled]){cursor:pointer;}
flow-dialog.flow-menu ul.menu>li:not([disabled]):not(.active):hover{
    background-color:var(--flow-list-item-hover-bg);
}
flow-dialog.flow-menu ul.menu>li.active{
    background-color:var(--flow-list-item-active-bg);
    color:var(--flow-list-item-active-color);
    border-bottom:var(--flow-list-item-active-border);
    cursor:default;
}
flow-dialog.flow-menu ul.menu>li:last-child{border-bottom:0px;}


flow-doc{
    display:inline-block;margin:5px 0px;padding:0px 0px 10px;
    width:fit-content;border-radius:5px;
    border:2px solid var(--flow-primary-color);
}
flow-doc>h4:first-child{
    margin:0px 0px 5px;padding:8px;background-color:var(--flow-border-color);
    color:#FFF;border-bottom:1px solid var(--flow-border-color);
    text-transform:uppercase;
}
flow-doc>*{margin-left:10px;margin-right:10px;}
flow-doc flow-code{
    --flow-code-padding:10px;
    background-color:#EEE;
    border-top:1px solid var(--flow-border-color);
    border-bottom:1px solid var(--flow-border-color);
    margin:10px 0px 15px;
}
flow-doc-boxes{display:flex;flex-wrap:wrap;}
flow-doc-boxes>flow-doc{margin:10px;min-width:20%;flex:1;width:300px}
flow-markdown textarea{display:none}

.flow-tooltip-text{
    display:none;
    flex-direction:column;
    width:var(--flow-tooltip-text-width, 200px);
    font-size:var(--flow-tooltip-text-font-size, 0.9rem);
    font-weight:normal;
    background-color:var(--flow-tooltip-text-bg);
    color: var(--flow-tooltip-text-color);
    text-align: left;
    padding: 10px ;
    border-radius: 5px;
    position:fixed;
    z-index:100000;
}
.flow-tooltip-text.active{display:inline-block;}

.flow-tooltip-text .link,
.flow-tooltip-text .link-tooltip{
    color:var(--flow-link-color, #07b9b9);
    font-weight:var(--flow-link-font-weight, bold);
    text-decoration:none;
}

flow-gridstack[dragmode="panel"] .grid-stack-item{
    cursor:move;
}
flow-gridstack div.grid-stack-item-content{background:#DDD}
flow-gridstack textarea.grid-stack-json{width:90%;height:100px;}

/* a {color:var(--flow-link-color, red);}
a:hover {
    border-bottom: 1px solid var(--flow-link-hover-color);
} */
